.footer {
  align-items: center;
  background-color: $cerulean;
  bottom: 0;
  color: white;
  display: grid;
  height: $footer-height;
  position: absolute;
  width: 100%;
}

.footer-text {
  align-items: center;
  display: grid;
  justify-items: center;

  &::after {
    content: url(assets/wolox_logo_white.svg);
    margin-top: 10px;
  }
}

.subtext {
  bottom: 25px;
  position: absolute;
  right: 25px;
}
