.footer {
  align-items: center;
  background-color: $cerulean;
  bottom: 0;
  color: white;
  display: grid;
  height: $footer-height;
  justify-items: center;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

.footer-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;

  &::after {
    background: url(assets/wolox_logo_white.svg) center center no-repeat;
    background-size: contain;
    content: '';
    height: 70px;
    margin-top: 10px;
    width: 300px;
  }
}

.subtext {
  font-size: $text-xsmall;
}

@media (min-width: $min-width-responsive) {
  .footer {
    padding: 0;
  }

  .footer-text::after {
    width: 600px;
  }

  .subtext {
    bottom: 25px;
    font-size: $text-small;
    position: absolute;
    right: 25px;
  }
}
