.navbar {
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 20px 0 $silver;
  display: flex;
  height: $navbar-height;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &::before {
    background: url(assets/wolox_logo.svg) left center no-repeat;
    content: '';
    height: 50px;
    width: 200px;
  }
}
