* {
  font-family: 'Roboto', sans-serif;
  font-size: $text-small;
}

.main-container {
  min-height: 100vh;
  padding: $navbar-height 0 $footer-height;
  position: relative;
}

.section-grid {
  display: grid;
  margin: 100px 40px;
  .title {
    margin-bottom: 30px;
  }
  grid-template-columns: 1fr;

  grid-template-rows: repeat(6, auto);
}

@media (min-width: $min-width-responsive) {
  .section-grid {
    display: grid;
    margin: 50px 110px;
    max-width: 910px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "title title title title" ". side-tech techs techs" ". side-tech techs techs";

    .title {
      grid-area: title;
      margin-bottom: 30px;
    }

    .techs-grid {
      grid-area: techs;
    }

    .left-tech {
      grid-area: side-tech;
      border-right: 1px solid $earls-green;
    }
  }

}
