* {
  font-family: 'Roboto', sans-serif;
  font-size: $text-small;
}

.main-container {
  padding: $navbar-height 0 $footer-height;
  min-height: 100vh;
  position: relative;
}

.section-container {
  width: 90%;
  margin: 50px auto;
}
