$tech-card-border-radius: 5px;

.left-tech {
  align-items: center;
  display: grid;
  justify-content: center;
}

.techs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
}

.tech-card {
  align-items: center;
  border-radius: $tech-card-border-radius;
  display: grid;
  padding: 20px 0;
  position: relative;
  text-align: center;
  width: 180px;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);

  .tech-name {
    margin-top: 15px;
  }

  .tech-release {
    margin-top: 15px;
  }

  .tech-description {
    margin-top: 25px;
  }
}

.tech-logo {
  height: 100px;
  width: 100px;
}
