.text-1 {
  font-size: $text-big;
}

.text-2 {
  font-size: $text-medium;
}

.text-3 {
  font-weight: bold;
}

.text-4 {
  color: white;
  font-size: $text-medium;
  text-transform: uppercase;
}

@media (min-width: $min-width-responsive) {
  .text-4 {
    font-size: $text-big;
  }
}
